---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="py-5 px-10 h-screen flex flex-col justify-between">
    <Header />
    <main class="p-4">
      <section class="pt-4">
        <ul class="grid md:grid-cols-2 w-full justify-items-center content-start gap-3">
          {
            posts.map((post) => (
              <li>
                <a href={`/artikel/${post.id}/`}>
                  {post.data.heroImage && (
                    <Image
                      width={720}
                      height={360}
		      src={post.data.heroImage}
		      class="rounded-md"
                      alt=""
                    />
                  )}
                  <h4 class="title text-lg font-bold">{post.data.title}</h4>
                  <p class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
